/* 
Open Sans

Light 300
Normal 400
Semi-Bold 600
Bold 700////
Bold Italic/// 700
Extrabold///// 800
*/
/***SETTINGS***/
* {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
	outline: none;
}
a:hover,
a:active {
    outline: 0;
}
p { 
	margin: 0; 
	padding: 0;
}
ul li{
	list-style: none;
}
.clearfix:after { 
	content: ""; 
	display: block;
	 clear: both; 
	 visibility: hidden; 
	 height: 0; 
 }
 section {
	box-sizing: border-box;
	display: block;
	width: 100%;
 }
 /****STYLE************************/
html,
body{
	display: block;
	width: 100%;
	height: 100%;
}
body{
	background: #fff;
	color: #000;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
}
.container{
	max-width: 1485px;
	width: 100%;
	display: block;
	margin: auto;
	padding: 0 15px;
	box-sizing: border-box;
	position: relative;
}
/**Header**/
.header{
	width: 100%;
	margin: auto;
}
.header_w{
	display: table;
	width: 100%;
	height: 102px;
}
.header_block{
	display: table-cell;
	vertical-align: middle;
}
.logo_header_w{
	width: 385px;
}
.fixed{
	position: fixed;
}
.main_menu_top ul{
	display: table;
	height: 102px;
	width: 100%;
	text-align: center;
}

.main_menu_top ul li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	position: relative;
}
.main_menu_top ul li a{
	line-height: 102px;
	display: block;
	font-size: 21px;
	color: #f87117;
	font-weight: 600;
	-webkit-transition: background 300ms;
	-moz-transition: background 300ms;
	-ms-transition: background 300ms;
	-o-transition: background 300ms;
	transition: background 300ms;
	/* position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 100%; */
}
.main_menu_top ul li a:hover{
	background: #f87117;
	color: #fff;
	text-shadow: 0.3px 0.3px 0px #fff, -0.3px -0.3px 0px #fff;
}
.main_menu_top ul li a.active_menu{
	background: #f87117;
	color: #fff;
	text-shadow: 0.3px 0.3px 0px #fff, -0.3px -0.3px 0px #fff;
}
.logo_header{
	position: relative;
	width: 100%;
}
.logo_header a img{
	width: 100%;
	max-width: 246px;
}
.logo_header a span{
	text-indent: -10000px;
	display: inline-block;
}
.log_in_header{
	text-align: right;
	padding: 0 17px;
}
.log_in_header span{
	margin: 0 10px;
	color: #616161;
}
.log_in_header a{
	background: #02a59e;
	color: #fff;
	width: 91px;
	height: 37px;
	line-height: 35px;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #02a59e;
	-webkit-transition: background 300ms;
	-moz-transition: background 300ms;
	-ms-transition: background 300ms;
	-o-transition: background 300ms;
	transition: background 300ms;
}
.log_in_header a:hover{
	color: #02a59e;
	background: transparent;
}
/**BANNER**/
.banner{
	position: relative;
	height: 508px;
}
.banner_img img{
	width: 100%;
}
.banner_img{
	position: relative;
	height: 508px;
}
/**RENTORR**/
.rentorr_w{
	display: block;
	margin: 36px auto 32px auto;
}
.rentorr_title h2{
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	color: #3d4044;
}
.rentorr_title .line{
	display: block;
	text-align: center;
}
.rentorr_title .line span{
	background: #3d4044;
	height: 2px;
	margin: 10px auto;
	display: block;
}
.rentorr_title .line span:nth-child(1){
	width: 68px;
}
.rentorr_title .line span:nth-child(2){
	width: 48px;
}
.rentorr_title .line span:nth-child(3){
	width: 27px;
}
.rentorr{
	display: block;
	text-align: center;
	margin-top: 40px;
}
.rentorr_block{
	display: inline-block;
	position: relative;
	max-width: 369px;
	margin: auto auto 30px auto;
	padding: 0 15px;
}
.rentorr_img {
	width: 101px;
	height: 101px;
	position: relative;
	border: 1px solid #dfdfdf;
	border-radius: 100px;
	margin: auto auto 9px auto;
}
.rentorr_img img{
	max-width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.rentorr_block h3{
	color: #00a59e;
	font-weight: 600;
	text-transform: uppercase;
}
.rentorr_block h3:after{
	content: "";
	display: block;
	height: 1px;
	width: 48px;
	background: #3d4044;
	text-align: center;
	margin: 10px auto;
}
.link{
	display: inline-block;
	width: 112px;
	height: 36px;
	background: transparent;
	color: #00a59e;
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid #00a59e;
	border-radius: 1px;
	text-align: center;
	line-height: 36px;
	font-size: 13px;
	-webkit-transition: background 300ms;
	-moz-transition: background 300ms;
	-ms-transition: background 300ms;
	-o-transition: background 300ms;
	transition: background 300ms;
}
.link:hover{
	background: #00a59e;
	color: #fff;
}
.rentorr_block p{
	color: #696b6e;
	font-size: 14px;
	line-height: 26px;
	padding-bottom: 17px;
}
/***FEATURES**************************************************/
/**NAV TABS**/
.features_w{
	width: 100%;
	display: block;
	background: #eeeeee;
	overflow: hidden;
}
.features_w .container:after{
	content: "";
	height: 112px;
	display: inline-block;
	width: 100%;
	background: #f87117;
	position: absolute;
	left: -100%;
	top: 0;
}
.features_w .container{
	padding: 0;
}
.features_w .container:before{
	content: "";
	height: 112px;
	display: inline-block;
	width: 100%;
	background: #00a59e;
	position: absolute;
	right: -100%;
}
.features_tabs{
	display: block;
	width: 100%;
	position: relative;
	height: 112px;
}
.features_tabs>div{
	box-sizing: border-box;
	float: left;
	height: 112px;
	display: block;
	width: 35%;
	position: relative;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	transition:all 400ms;
}
.features_tabs>div.current{
	width: 65%;
}
.features_tabs>div.current a{
	cursor: default;
}
.features_tabs a{
	position: relative;
	line-height: 112px;
	font-size: 48px;
	color: #fff;
	font-weight: 700;
	display: block;
	padding: 0 10px;
}
.tabs_1{
	padding-right: 10px;
}
.tabs_2{
	padding-left: 10px;
}
.tabs_1 a{
	background: #f87117;
}
.tabs_1 a:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 112px solid #eeeeee;
	border-left: 112px solid transparent;
}
.tabs_2 a:after{
	content: "";
	position: absolute;
	top: 0;
	border-bottom: 112px solid #00a59e;
	border-left: 112px solid transparent;
	left: -112px;
	display: inline-block;
}
.tabs_2 a{
	background: #00a59e;
}

#tabs_2 .tabs_block_img {
	float: right;
}

/**CONTENT TABS**/
.container_small{
	max-width: 1092px;
	width: 100%;
	display: block;
	margin: auto;
	box-sizing: border-box;
}
#tabs_block{
	padding-top: 70px;
	display: block;
	padding-bottom: 90px;
}
.tabs_block_w{
	display: table;
	width: 100%;
	vertical-align: top;
}
.tabs_block_w>div{
	float: left;
	box-sizing: border-box;
}
.tabs_block_img_text{
	color: #fff;
	border: 2px solid #6f6361;
	font-weight: 700;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 101px;
	width: 186px;
	margin: auto;
	display: inline-block;
	font-size: 20px;
	padding: 15px;
	box-sizing: border-box;
}
.tabs_block_img{
	position: relative;
	width: 33%;
	max-width: 360px;
}
.tabs_block_img img{
	width: 100%;
	max-width: 360px;
	display: block;
}
.tabs_block_text{
	width: 67%;
}
.tabs_block_text ul{
	display: block;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	padding: 25px 0;
	padding-left: 25px;
}
.tabs_block_text ul li{
	float: left;
	width: 33.3333%;
	padding: 30px 15px;
	box-sizing: border-box;
	text-transform: uppercase;
	color: #3d4044;
}
.tabs_block_text ul li span{
	height: 30px;
	margin-bottom: 15px;
}
.icon_1{
	width: 28px;
	height: 22px;
	background: url("../images/icon/icon_1.png") no-repeat center center;
	display: block;
	position: relative;
}
.icon_2{
	width: 32px;
	height: 22px;
	background: url("../images/icon/icon_2.png") no-repeat center center;
	display: block;
	position: relative;
}
.icon_3{
	width: 26px;
	height: 31px;
	background: url("../images/icon/icon_3.png") no-repeat center center;
	display: block;
	position: relative;
}
.icon_4{
	width: 28px;
	height: 31px;
	background: url("../images/icon/icon_4.png") no-repeat center center;
	display: block;
	position: relative;
}
.icon_5{
	width: 32px;
	height: 32px;
	background: url("../images/icon/icon_5.png") no-repeat center center;
	display: block;
	position: relative;
}
.icon_6{
	width: 28px;
	height: 30px;
	background: url("../images/icon/icon_6.png") no-repeat center center;
	display: block;
	position: relative;
}
/****HOW IT WORKS***********************************************/
.how_it_works{
	background: #fff;
	padding-top: 137px;
	padding-bottom: 125px;
}
.how_it_works .container_small{
	max-width: 948px;
}
.how_it_works_block{
	display: table;
	width: 100%;
	vertical-align: top;
	margin-bottom: 70px;
}
.how_it_works_block:last-child{
	margin-bottom: 0;
}
.how_it_works_block:nth-child(odd) .works_content{
	float: right;
}
.how_it_works_block:nth-child(odd) .works_img_w{
	float: left;
}
.how_it_works_block:nth-child(even) .works_content{
	float: left;
}
.how_it_works_block:nth-child(even) .works_img_w{
	float: right;
}
.works_img_w{
	width: 40%;
}
.works_img{
	width: 332px;
	height: 332px;
	border-radius: 50%;
	background: #3f4854;
	position: relative;
	display: block;
}
.works_img img{
	max-width: 90%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.works_content{
	max-width: 60%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 25px;
}
.work_title h2{
	font-weight: 700;
	color: #50c3ca;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 25px;
}
.work_sub h3{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 25px;
}
.work_text p{
	font-size: 14px;
	line-height: 26px;
}
/**STARTED**/
.started_w{
	display: block;
	position: relative;
	width: 100%;
	background: #f88a00;
	box-sizing: border-box;
	padding: 35px 0;
}
.started_block p{
	color: #f2e9de;
	text-align: center;
	font-size: 22px;
}
.started_link{
	text-align: center;
	margin-top: 30px;
}
.started_link a{
	color:#e4edec;
	text-align: center;
	background: #00a59e;
	text-transform: uppercase;
	border-radius: 3px;
	width: 266px;
	height: 43px;
	display: inline-block;
	text-align: center;
	font-size: 22px;
	line-height: 43px;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0, 0.2);
	border: 1px solid transparent;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}
.started_link a:hover{
	background: transparent;
	color: #00a59e;
	border-color: #00a59e;
	box-shadow: 0px 1px 1px 1px rgba(0,165,158, 0.4);
}
/*FOOTER*/
.footer_top_w{
	display: block;
	background: #575656;
	width: 100%;
	padding: 24px 0;
}
.footer_top{
	display: table;
	width: 100%;
	box-sizing: border-box;
	vertical-align: middle;
}
.footer_top>div{
	display: table-cell;
	vertical-align: middle;
}
.footer_top_left>div{
	display: table-cell;
	vertical-align: middle;
}
.logo_footer{
	max-width: 151px;
} 
.logo_footer a img{
	display: block;
	max-width: 151px;
}
.copyright{
	padding-left: 15px;
	color: #81867d;
	font-size: 14px;
}
.footer_top_right{
	text-align: right;
}
.footer_top_right a{
	width: 36px;
	height: 36px;
	display: inline-block;
	border: 2px solid #909589;
	border-radius: 50%;
	color: #909589;
	box-sizing: border-box;
	margin-left: 10px;
	position: relative;
	text-align: center;
	text-align: center;
	line-height: 34px;
	font-size: 18px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}
.footer_top_right a:hover{
	border-color: #fff;
	color: #fff;
}
.footer_bottom_w{
	display: block;
	width: 100%;
	position: relative;
	background: #31352b;
	padding: 15px 0;
}
.footer_menu ul li{
	display: inline-block;
	color: #909589;
	font-size: 13px;
	margin-right: 15px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}
.footer_menu ul li:hover{
	color: #fff;
}
/***TRANSFORM ICONS****************************/
.menu-respond{
	display: none;
	margin-top: 6px;
}
.tcon {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 40px;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 40px;
	background: transparent;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent; 
}
.tcon > * {
	display: block; 
}
.tcon:hover, .tcon:focus {
	outline: none; 
}
.tcon::-moz-focus-inner {
	border: 0; 
}

.tcon-menu__lines {
	display: inline-block;
	height: 5.71429px;
	width: 40px;
	border-radius: 2.85714px;
	transition: 0.3s;
	background: black;
	position: relative; 
}
.tcon-menu__lines::before, .tcon-menu__lines::after {
	display: inline-block;
	height: 5.71429px;
	width: 40px;
	border-radius: 2.85714px;
	transition: 0.3s;
	background: black;
	content: '';
	position: absolute;
	left: 0;
	-webkit-transform-origin: 2.85714px center;
	transform-origin: 2.85714px center;
	width: 100%; 
}
.tcon-menu__lines::before {
	top: 10px; 
}
.tcon-menu__lines::after {
	top: -10px; 
}
.tcon-transform .tcon-menu__lines {
	-webkit-transform: scale3d(0.8, 0.8, 0.8);
	transform: scale3d(0.8, 0.8, 0.8); 
}

.tcon-menu--xcross {
	width: auto; 
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
	background: transparent; 
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	top: 0;
	width: 40px; 
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg); 
}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg); 
}

.tcon-visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; 
}
.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto; 
}
.mobile_login{
	display: none;
}
/***MENU FOOTER T_ICON***/
.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.footer_bottom .tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: #fff;
  position: relative; }
  .footer_bottom .tcon-menu__lines::before, 
  .footer_bottom .tcon-menu__lines::after {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: #fff;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 10px; }
  .tcon-menu__lines::after {
    top: -10px; }
  .tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--arrow {
  width: auto; }
  .tcon-menu--arrow.tcon-transform .tcon-menu__lines::before, .tcon-menu--arrow.tcon-transform .tcon-menu__lines::after {
    top: 0;
    width: 22.22222px; }
  .tcon-menu--arrow.tcon-transform .tcon-menu__lines::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .tcon-menu--arrow.tcon-transform .tcon-menu__lines::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

.tcon-menu--arrowup {
  width: auto; }
  .tcon-menu--arrowup.tcon-transform {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; 
}
.tcon.tcon-menu--arrow{
	display: none;
}
/***************************************************************************************************************/
@media all and (max-width : 1185px) {
	.banner {
		height: 320px;
	}
	.logo_header_w {
		width: 280px;
	}
	.banner {
		position: relative;
		height: 370px;
	}
	.features_tabs a {
		line-height: 80px;
		font-size: 30px;
	}
	.features_tabs > div {
		height: 80px;
	}
	.features_tabs {
		height: 80px;
	}
	.features_w .container::before {
		height: 80px;
	}
	.tabs_2 a::after {
		border-bottom: 80px solid #00a59e;
		border-left: 80px solid transparent;
		left: -80px;
	}
}
@media all and (min-width : 1097px) {
	.main_menu_top{
		display: block !important;
		left: auto !important;
		opacity: 1 !important;
		position: static !important;
	}
}
@media all and (max-width : 1096px) {
	.banner {
		height: 300px;
	}
	.menu-respond{
		display: inline-block;
		z-index: 9999999;
	}
	
	.main_menu_top{
		position: absolute;
		left: -100%;
		background: rgba(255,255,255, 0.5);
		height: 100vh;
		width: 100%;
		z-index: 9;
		margin-top: 14px;
		-webkit-transition: all 800ms;
		-moz-transition: all 800ms;
		-ms-transition: all 800ms;
		-o-transition: all 800ms;
		transition: all 800ms;
		opacity: 0;
	}
	.main_menu_top.visible{
		left:0;
		opacity:1;
		position:fixed;
	}
	.main_menu_top.active{
		left: 0;
	}
	.main_menu_top_w{
		text-align: right;
		display: block;
		width: 45px;
		float: right;
		margin: 14px 0;
	}
	.log_in_header_w{
		width: 262px;
	}
	.header_w {
		height: 80px;
	}
	.logo_header a img {
		max-width: 176px;
	}
	.main_menu_top ul {
		display: table;
		height: auto;
		width: 100%;
		text-align: left;
		background: rgb(255, 255, 255) none repeat scroll 0% 0%;
		width: 50%;
		height: 100%;
	}
	.main_menu_top ul li {
		display: block;
		height: auto;
	}
	.main_menu_top ul li a {
		line-height: 43px;
		display: block;
	}
	.main_menu_top ul li a{
		padding-left: 25px;
	}
	
	#tabs_block {
		padding: 70px 15px 90px;
	}
}
@media all and (max-width : 810px) {
	.banner {
		height: 280px;
	}
	.tabs_block_text ul {
		padding: 0px 0;
		padding-left: 15px;
	}
	.tabs_block_text ul li {
		width: 50%;
		padding: 15px 15px;
	}
	.features_tabs {
		height: 60px;
	}
	.features_tabs > div {
		height: 60px;
	}
	.features_tabs a {
		line-height: 60px;
		font-size: 22px;
	}
	.tabs_1 a::before {
		border-bottom: 60px solid #eeeeee;
		border-left: 60px solid transparent;
	}
	.tabs_2 a::after {
		border-bottom: 60px solid #00a59e;
		border-left: 60px solid transparent;
		left: -60px;
	}
	.works_img {
		width: 200px;
		height: 200px;
		display: inline-block;
	}
	.works_img_w {
		width: 35%;
	}
	.works_content {
		max-width: 60%;
	}
	.main_menu_top ul {
		width: 100%;
	}
	/**MOBILE MENU FOOTER**/
	.tcon.tcon-menu--arrow{
		display: block;
	}
	.footer_menu{
		display: none;
	}
	.footer_menu ul li {
		display: block;
		font-size: 16px;
		margin: 5px 0;
	}
}
@media all and (max-width : 620px) {
	.banner {
		height: 250px;
	}
	.features_tabs > div.current {
		width: 55%;
	}
	.features_tabs > div {
		width: 45%;
	}
	.tabs_block_w > div {
		box-sizing: border-box;
		width: 100%;
		float: none;
	}
	.tabs_block_w > div.tabs_block_img {
		max-width: 100%;
		float: none;
		text-align: center;
		margin: auto;
		display: table;
	}
	.tabs_block_img img {
		width: 100%;
		max-width: 280px;
		display: block;
		margin: auto;
	}
	.tabs_block_text ul {
		padding: 0px 0;
		padding-left: 0;
	}
	.footer_top > div {
		display: block;
		text-align: center;
	}
	.footer_top_left{
		padding-bottom: 15px;
	}
	.log_in_header{
		display: none;
	}
	.mobile_login {
		display: block;
		font-size: 37px;
	}
	.header_block {
		display: inline-block;
		float: left;
	}
	.header_w {
		height: auto;
		padding: 10px 0;
	}
	.logo_header_w {
		width: 70%;
	}
	.main_menu_top_w{
		width: 15%;
		text-align: right;
		margin: 0;
	}
	.log_in_header_w{
		width: 15%;
		text-align: right
	}
	.works_img {
		display: table;
		margin: auto;
		text-align: center;
	}
	.works_content {
		max-width: 100%;
		display: inline-block;
	}
	.how_it_works_block:nth-child(2n+1) .works_img_w {
		float: none;
		width: 100%;
	}
	.how_it_works_block:nth-child(2n+1) .works_content {
		float: none;
	}
	.works_content {
		padding-bottom: 15px;
	}
	.how_it_works_block:nth-child(2n) .works_content {
		float: none;
	}
	.how_it_works_block:nth-child(2n) .works_img_w {
		float: none;
		width: 100%;
	}
}

@media all and (max-width : 465px) {
	.features_tabs > div {
		width: 50%;
	}
	.features_tabs > div.current {
		width: 50%;
	}
	.features_tabs a {
		line-height: 60px;
		font-size: 19px;
	}
	.banner {
		height: 230px;
	}
}
@media all and (max-width : 380px) {
	.features_tabs > div {
		width: 100%;
		display: block;
		float: right;
	}
	.features_tabs > div.current {
		width: 100%;
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	.tabs_1 a::before {
		border-bottom: 0;
		border-left: 0;
	}
	.tabs_2 a::after {
		border-bottom: 0;
		border-left: 0;
	}
	.tabs_block_text ul li {
		width: 100%;
		padding: 15px 15px;
		text-align: center;
		float: none;
		margin: auto;
	}
	.tabs_block_text ul li span {
		height: 30px;
		text-align: center;
		margin: 5px auto;
	}
	.banner {
		height: 200px;
	}
}
































